* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.content {
    display: block;
    width: 100%;
    height: 100vh;
    background-color:#291528;
    padding-top: 5vh;
}

.menu {
    background-color: #0b3954;
    width: 75%;
    height: 12vh;
    margin:auto;
    text-align: center;
    font-size: 30px;
    color: #fefffe;
   
}

.juego {
    background-color: #bfd7ea;
    width: 70%;
    height: 68vh;
    margin:auto;
    display: block;
    padding-top: 5vh;
}

.content-juego {
    width: 90%;
    height: 55vh;
    background-color: #fefffe;
    margin: auto;
    border: 2px solid #e0ff4f;
}

.control-juego {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 80%;
    margin: 10px auto 10px auto;
    border: 2px solid #ff6663;
    padding: 10px;
}

.gameOver {
    display: none;
}


.square {
    aspect-ratio: 1;
}

.empySquare {
    background-color: #fefffe;
}

.snakeSquare {
    background-color: #e0ff4f;
}

.foodSquare {
    background-color: #ff6663;
}




